/*메인*/
.main {
    position: relative;
    display: inline-block;
    width: 100%;
    margin:78px 0 0 0;
}

.main .left {
    background-color: #FDF3F1;
    background-image: url("https://randhk.github.io/annie/img/annie_main_bg_left.svg");
}

.main .right {
    background-color: #FDF3F1;
    background-image: url("https://randhk.github.io/annie/img/annie_main_bg_right.svg");
}

.main .half {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: calc(100%/2);
    float: left;
    position: relative;
    transition: background-color .5s;
}

.main .half:hover {
    background-color: #79C8A4;

}

.main .half > a {
    width: 100%;
    height: 100%;
}

.main .half .link {
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    letter-spacing: 3px;
    max-width: 570px;
    width: 100%;
    bottom: 8%;
    display: inline-block;
    border:none;
}

.main .half:hover .link {
    color: #fff;
    background-color:transparent;  
}

.main .link-left {
    color: #79C8A4;
    right: -20px;
    text-align: left;
}

.main .link-right {
    color: #79C8A4;
    left: -20px;
    text-align: right;
}

.main .main-img {
    background-image: none;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    height: 318px;
    max-width: 530px;
    width: 100%;
    display: inline;
    splay: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.main .main-img #pc-img {
    max-width: 538px;
    width: 100%;
}

.main .main-img #pc-img .head1 {
    animation: nod 2s infinite;
    -webkit-animation-direction: alternate;
    transform-origin: 30% 30%;
}

.main .main-img #pc-img .head2 {
    transform-origin: 80% 80%;
}

.main .main-img #pc-img .spinner {
    animation: spin 6s linear infinite;
    transform-origin: 25% 77%;
}

.main .main-img #pc-img .spinner-re {
    animation: spin 3s linear infinite;
    -webkit-animation-direction: reverse;
    transform-origin: 13.5% 62.5%;
}

.txt {
    fill: #233741;
    transition: none;
}

#text1 {
    animation: show 3s;
}

@keyframes show {
    to {
        fill: #fff;
    }

    from {
        fill: #fff;
    }
}

#text2 {
    animation: show 5s;
}

@keyframes show {
    to {
        fill: #fff;
    }

    from {
        fill: #fff;
    }
}

#text3 {
    animation: show 7s;
}

@keyframes show {
    to {
        fill: #fff;
    }

    from {
        fill: #fff;
    }
}

#text4 {
    animation: show 9s;
}

@keyframes show {
    to {
        fill: #233741;
    }

    from {
        fill: #fff;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes nod {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

.works {
    width: calc(100% - 195px);
    margin: 10rem auto 0 auto;
}

.works article {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 0 8rem 0;
}

.works article:last-child {
    margin: 0;
}

.works article .works-item {
    width: 50%;
    float: left;
    height: 365px;
}

.works article .works-img {
    position: relative;
}

.works article .works-img .circle {
    display: inline-block;
    height: 30vw;
    width: 30vw;
    max-height: 300px;
    max-width: 300px;
    min-width: 200px;
    min-height: 200px;
    /*border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;*/
    border-radius: 100%;
    background-color: #dedede;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    /*animation: spin 6s linear infinite;*/
    z-index: -1;
    transition: all 0.3s;


}

.works article.works-item-wrap-1:hover .works-img .circle,
.works article.works-item-wrap-2:hover .works-img .circle {
    background-color: #79C8A4;
}

.works article .works-img .img {
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.works article .works-img .img-1 {
    background-image: url("https://randhk.github.io/annie/img/annie_sec_red.png");
    background-position: center;
}

.works article .works-img .img-2 {
    background-image: url("https://randhk.github.io/annie/img/annie_sec_ad.png");
    background-position: center;
}

.works article .works-desc {
    padding: 2.5rem 12% 2.5rem 3rem;
    text-align: right;
}

.works article .works-desc .num {
    color: #DEDEDE;
    font-size: 5.5rem;
}

.works article .works-desc h2 {
    font-size: 2.6rem;
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.works article .works-desc .texts {
    font-size: 16px;
    line-height: 1.5;
}

.works article .works-desc .link-wrap {
    margin-top: 30px;
}

/*서브 1*/
.sub-main {
    height: 400px;
    background-image: url("https://randhk.github.io/annie/img/sub1_main_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200px 0;
    position: relative;
    margin:77px 0 0 0;
}

.sub-main .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 1140px;
    text-align: left;
    width: 100%;
    padding: 0 20px;
}

.sub-main .main-text h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 15px;
}

.sub-main .main-text h2 {
    font-size: 18px;
    color: #79C8A4;
}

.intro-wrap .intro-con {
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 1140px;


    height: 350px;
    max-width: 1140px;
    margin: 0 auto;
}

.intro-wrap .intro-con-1 {
    background-image: url("https://randhk.github.io/annie/img/sub1_intro_bg_1.svg");
    background-position: center bottom;
/*    background-attachment: fixed;*/
}

.intro-wrap .intro-con-2 {
    background-image: url("https://randhk.github.io/annie/img/sub1_intro_bg_2.svg");
    background-position: center top;
    background-attachment: fixed;
}

.exp {
    max-width: 1140px;
    margin: 0 auto;
}

.exp .exp-item-wrap {
    display: flex;
}


.exp .exp-item-wrap .exp-item {
    flex-basis: 50%;
    width: 50%;
}
.exp .exp-item-wrap .exp-img .swiper-button-next { right:25px; } 
.exp .exp-item-wrap .exp-img .swiper-button-prev { left:25px; }
.exp .exp-item-wrap .exp-img .swiper-button-next, 
.exp .exp-item-wrap .exp-img .swiper-button-prev {
    color:#fafafa;
}
.exp .exp-item-wrap .exp-img .swiper-container .swiper-pagination {
    bottom: 20px;
}

.exp .exp-item-wrap .exp-img .swiper-container .swiper-pagination-bullet {
    background-color: #dedede;
    opacity: 1;
}

.exp .exp-item-wrap .exp-img .swiper-container .swiper-pagination-bullet-active {
    background-color: #c2c2c2;
}

.exp .exp-img img {
    max-width: 590px;
    width: 100%;
}

.exp .exp-odd .exp-img {
    order: 2;
}


.exp .exp-odd .exp-desc {
    order: 1;
}

.exp .exp-desc {
    padding: 5rem 6rem 0 6rem;
    display: inline-block;
    max-width: 590px;
    width: 100%;
}

.exp .exp-desc .title-1 {
    font-size: 14px;
    color: #79C8A4;
}

.exp .exp-desc .title-2 {
    font-size: 21px;
    font-weight: normal;
    margin: 10px 0 20px 0;
}

.exp .exp-desc .title-2 a:hover {
    color: #79C8A4;
}

.exp .exp-desc .text {
    font-size: 14px;
    line-height: 1.6;
}

.exp .contribute {
    margin: 4rem 0;
}

.exp .contribute .con-text {
    font-size: 16px;
    font-weight: 500;
}

.exp .contribute .qmark {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    background-color: #c4c4c4;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0 5px;
    vertical-align: bottom;
}

.exp .contribute .qmark:hover {
    background-color: #F3C4BB;
}

.exp .contribute .qmark .qmark-info {
    display: inline-block;
    transform: scale(0);
    transition: transform .3s;
    width: 200px;
    padding: 10px 15px;
    text-align: left;
    font-size: 12px;
    color: #233741;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    position: absolute;
    top: -65px;
    left: -13px;
    height: 58px;
    transform-origin: 20% 100%;
}

.exp .contribute .qmark .qmark-info::before {
    content: '';
    display: inline-block;
    transform: scale(0) rotate(45deg);
    transition: transform .3s;
    border-style: solid;
    border-color: #dedede;
    border-width: 0 1px 1px 0;
    transform-origin: 66%;
    background-color: #fff;
    position: absolute;
    left: 16px;
    bottom: -5px;
    height: 7px;
    width: 7px;
    z-index: 10;
}

.exp .contribute .qmark:hover .qmark-info {
    transform: scale(1);
}

.exp .contribute .qmark:hover .qmark-info:before {
    transform: scale(1) rotate(45deg);
}


.exp .exp-item-con1-01 .contribute .qmark .qmark-info:after {
    content: '퍼블리싱 전담';
}

.exp .exp-item-con1-02 .contribute .qmark .qmark-info:after {
    content: 'OnePrint, MakuMaku 요청업무 외 퍼블리싱 전담';
}

.exp .exp-item-con1-03 .contribute .qmark .qmark-info:after {
    content: '퍼블리싱 전담';
}

.exp .exp-item-con1-04 .contribute .qmark .qmark-info:after {
    content: '퍼블리싱 전담';
}

.exp .exp-item-con2-01 .contribute .qmark .qmark-info:after {
    content: '스티커 퍼블리싱 전담';
}

.exp .exp-item-con2-02 .contribute .qmark .qmark-info:after {
    content: '퍼블리싱 전담';
}

.exp .contribute-2 .qmark .qmark-info:after {
    content: ' Adprint.jp 스티커 디자인 담당';
}

.exp .contribute .progress {
    background-color: #dedede;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    position: relative;
}

 @keyframes progress-70 {
   0% {
      width: 0px;
   }
   100% {
      width: 70%;
   }
}
 @keyframes progress-80 {
   0% {
      width: 0px;
   }
   100% {
      width: 80%;
   }
}
 @keyframes progress-90 {
   0% {
      width: 0px;
   }
   100% {
      width: 90%;
   }
}
 @keyframes progress-100 {
   0% {
      width: 0px;
   }
   100% {
      width: 100%;
   }
}

.exp .contribute .progress .bar {
    display: inline-block;
    max-width: 300px;
    width: 50%;
    height: 10px;
    border-radius: 10px;
    background-color: #79C8A4;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 5s;
}

.exp .contribute .progress .bar::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 90%;
    color: #79C8A4;
    font-size: 12px;
    font-weight: 500;
}

.exp .exp-item-con1-01 .contribute .progress .bar {
      width: 90%;
      animation-name: progress-90;
}   

.exp .exp-item-con1-01 .contribute .progress .bar::after {
    content: '90%';
}

.exp .exp-item-con1-02 .contribute .progress .bar {
    animation-name: progress-80;
    width: 80%;
}

.exp .exp-item-con1-02 .contribute .progress .bar::after {
    content: '80%';
}

.exp .exp-item-con1-03 .contribute .progress .bar {
    animation-name: progress-100;
    width: 100%;
}

.exp .exp-item-con1-03 .contribute .progress .bar::after {
    content: '100%';
}

.exp .exp-item-con1-04 .contribute .progress .bar {
    animation-name: progress-100;
    width: 100%;
}

.exp .exp-item-con1-04 .contribute .progress .bar::after {
    content: '100%';
}

.exp .exp-item-con2-01 .contribute .progress .bar {
    animation-name: progress-100;
    width: 100%;
}

.exp .exp-item-con2-01 .contribute .progress .bar::after {
    content: '100%';
}

.exp .exp-item-con2-02 .contribute .progress .bar {
    animation-name: progress-100;
    width: 100%;
}

.exp .exp-item-con2-02 .contribute .progress .bar::after {
    content: '100%';
}


.exp .contribute-2 .progress .bar {
    animation-name: progress-70;
    width: 70%;
}

.exp .contribute-2 .progress .bar::after {
    content: '70%';
}

.exp .exp-desc .numbering p {
    margin-bottom: 10px;
    font-size: 14px;
}

.exp .exp-desc .numbering p a:hover {
    color: #79C8A4;
}

.exp .exp-desc .numbering .num {
    display: inline-block;
    border-radius: 100%;
    background-color: #c4c4c4;
    font-size: 11px;
    width: 15px;
    height: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
}

/*서브 2*/
.sub-main-2 {
    background-image: url("https://randhk.github.io/annie/img/sub2_main_img.png");
}

.tabs-wrap ul.tabs-top {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.tabs-wrap ul.tabs-top::after {
    content: '';
    display: inline-block;
    width: 55px;
    height: 57px;
    background-image: url("https://randhk.github.io/annie/img/sub2_peach_hover.svg");
    position: absolute;
    bottom: 35px;
    left: 51%;
    transform: translate(-50%, -50%);
    transition: bottom 0.3s ease-out;
}

.tabs-wrap ul.tabs-top:active::after {
    bottom: 100px;
}

.tabs-wrap ul.tabs-top li {
    flex-basis: 50%;
    text-align: center;
    padding: 80px 0;
    position: relative;
    background-repeat: no-repeat;

}

.tabs-wrap ul.tabs-top li.first {
    background-image: url("https://randhk.github.io/annie/img/sub2_face_left.svg");
    background-position: 100% 100%;

}

.tabs-wrap ul.tabs-top li.first.active {
    background-image: url("https://randhk.github.io/annie/img/sub2_face_left_active.svg");
}


.tabs-wrap ul.tabs-top li.second {
    background-image: url("https://randhk.github.io/annie/img/sub2_face_right.svg");
    background-position: left bottom
}

.tabs-wrap ul.tabs-top li.second.active {
    background-image: url("https://randhk.github.io/annie/img/sub2_face_right_active.svg");
}

.tabs-wrap ul.tabs-top li a {
    display: inline-block;
    background-color: #DEDEDE;
    color: #aaa;
    max-width: 180px;
    max-height: 180px;
    width: 13vw;
    height: 13vw;
    border-radius: 100%;
    position: relative;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}

.tabs-wrap ul.tabs-top li a::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 2.8vw solid #DEDEDE;
    border-bottom: none;
    border-right: 2.5vw solid transparent;
    border-left: 2.5vw solid transparent;
}

.tabs-wrap ul.tabs-top li.first a::after {
    bottom: -3%;
    right: 9%;
    transform: rotate(-30deg);
}

.tabs-wrap ul.tabs-top li.second a::after {
    bottom: -3%;
    left: 9%;
    transform: rotate(30deg);
}

.tabs-wrap ul.tabs-top li.active a::after {
    border-top: 2.8vw solid #79C8A4;
}

.tabs-wrap ul.tabs-top li a .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.tabs-wrap ul.tabs-top li.active a {
    background-color: #79C8A4;
    color: #fff;
}

.tabs-wrap .tabs-con {
    display: none;
}

.tabs-wrap .tabs-con.show {
    display: block;
}

.tabs-wrap #content-2 .con-top {
    margin: 40px auto;
}

.tabs-wrap #content-2 .con-top h3 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.tabs-wrap #content-2 .con-bottom {
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1140px;
}

.tabs-wrap #content-2 .con-bottom .design-item {
    flex-basis: 48.5%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.tabs-wrap #content-2 .con-bottom .design-item img {
    width: 100%;
    transition: all .5s;
}

.tabs-wrap #content-2 .con-bottom .design-item:hover img {
    transform: scale(1.2);
}

.tabs-wrap #content-2 .con-bottom .design-item .design-desc {
    background-color: rgb(250 250 250 / 80%);
    position: absolute;
    bottom: -35px;
    left: 0;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
    transition: all .5s;
}

.tabs-wrap #content-2 .con-bottom .design-item:hover .design-desc {
    bottom: 0;
}

.tabs-wrap #content-2 .con-bottom .design-item .design-desc .desc-1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.tabs-wrap #content-2 .con-bottom .design-item .design-desc .desc-2 {
    font-size: 1.3rem;
    padding: 20px 0 0 0;
}

/*sub3*/
.sub-main-about {
    text-align: center;
    margin: 156px 0 80px 0;
}

.sub-main-about h1 {
    font-size: 4rem;
    font-weight: 500;
}

.sub-main-about h2 {
    font-size: 2rem;
    line-height: 30px;
    margin-top: 40px;
}

.sub-main-about h2 .font-green {
    padding: 0 0 0 8px;
}

.about-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}

.about-wrap>div {
    width: 48%;
}

.about-wrap>div.about-desc {
    padding: 3% 0;
}

.about-wrap>div.about-desc .about-text {
    color: #233741;
    font-size: 1.4rem;
    line-height: 21px;
    margin-bottom: 40px;
}

.resume-wrap { 
    max-width: 1140px;
    margin: 8rem auto 0rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns:  30% 60% 1fr;
    column-gap:10%;
}
.resume-wrap .resume-con .intro {
    padding:5rem 0 0 0;
}
.resume-wrap .resume-con .intro h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #79C8A4;
    margin: 0 0 10px 0;
    border-bottom: 0px solid #dedede;
    padding: 0 0 10px 0;
    letter-spacing: 0.5px;
}
.resume-wrap .resume-con .intro p {
    font-size: 1.5rem;
    line-height: 1.5;
}
.resume-wrap .resume-con .intro p:last-child {
    margin:0;
}
.resume-wrap .resume-con .intro p strong {
    display: block;
    font-weight: bold;
}
.resume-wrap .resume-con1 .intro-1 {
    text-align: center;
}
.resume-wrap .resume-con1 .intro-3 p,
.resume-wrap .resume-con1 .intro-4 p {
    margin: 0 0 10px 0;
}

.resume-wrap .resume-con1 .intro-3 p>span {
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    margin: 0 10px 0 0;
}

    {
    margin: 0 0 10px 0;
}

.resume-wrap .resume-con1 .intro-3 p a:hover {
    color: #79C8A4;
}

.resume-wrap .resume-con2 .intro-6 p,
.resume-wrap .resume-con2 .intro-7 p {
    margin: 0 0 25px 0;
}

.resume-wrap .resume-con2 .intro-6 p em,
.resume-wrap .resume-con2 .intro-7 p em {
    display: block;
    margin: 0 0 5px 0;
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .exp .exp-desc {
        padding: 3%;
    }

    .exp .exp-desc .title-1 {
        font-size: 1.3vw;
    }

    .exp .exp-desc .title-2 {
        font-size: 2vw;
        margin: 3% 0 4% 0;
    }

    .exp .exp-desc .text {
        font-size: 1.5vw;
    }

    .exp .contribute {
        margin: 6% 0;
    }

    .exp .contribute .con-text {
        font-size: 1.6vw;
    }

    .exp .contribute .progress {
        max-width: 250px;
    }

    .exp .exp-desc .numbering p {
        font-size: 1.5vw;
        margin-bottom: 2%;
    }

}

/*768px 미디어쿼리*/
@media screen and (max-width:768px) {

    /*메인*/
    .main{
        margin:65px 0 0 0;
    }
    .main .half {
        height: 400px;
        background-image: none;
    }

    .main .half .link {
        font-size: 2.1rem;
        position: absolute;
        top: 89%;
        left: 50%;
        bottom: auto;
        padding: 0;
        max-width: 100%;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        transform: translate(-50%, -50%);
        white-space: nowrap;
         color: #79C8A4;
    }
    
/*    .main .left {
        background-image: url("https://randhk.github.io/annie/img/annie_main_bg_left.svg");
    }

    .main .right {
        background-image: url("https://randhk.github.io/annie/img/annie_main_bg_right.svg");
        background-position: right center;
    }
*/
    .main .main-img {
        background-image: url("https://randhk.github.io/annie/img/annie_main_img_mb_new1.svg");
        left: 50%;
        top: 44%;
        /*height: 110px;*/
        max-width: 400px;
        background-position: center;
    }

    .main .main-img #pc-img {
        display: none;
    }

    .works {
        width: calc(100% - 8rem);
        margin: 6rem auto;
    }

    .works article .works-item {
        width: 100%;
        float: initial;
        height: 250px;
        text-align: left;
    }

    .works article .works-desc {
        padding: 0;
    }

    .works article .works-desc .num {
        float: right;
        margin-left: 10px;
    }

    .works article .works-desc .num {
        margin-top: -5px;
    }

    .works article .works-desc .link-wrap {
        text-align: center;
    }

    /*서브 1*/
    .sub-main {
        background-image: url("https://randhk.github.io/annie/img/annie_sec_red.png");
        background-size: auto 115%;
        background-position: 200% 25%;
        margin:65px 0 0 0;
    }

    .sub-main .main-text {
        padding: 0 2rem;
    }

    .exp .exp-img img { max-width: 100%; }

    /*서브 2*/
    .sub-main-2 {
        background-image: url("https://randhk.github.io/annie/img/annie_sec_ad.png");
    }
    .tabs-wrap ul.tabs-top li.first {
    background-image: url("https://randhk.github.io/annie/img/sub2_face_left.svg");
    background-position: 99.9% 100%;

    }

    .tabs-wrap ul.tabs-top li a .circle-text {
        font-size: 1.6rem;
    }

    .exp .contribute-2 {

        margin: 4rem 20px;
    }

    .exp .contribute .progress {
        margin: 30px 0 0 0;
    }

    .exp .exp-item-wrap {
        flex-flow: wrap;
    }

    .exp .exp-item-wrap .exp-item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .exp .exp-item-wrap .exp-img .swiper-button-next, 
    .exp .exp-item-wrap .exp-img .swiper-button-prev {
        display: none;
    }
    .exp .exp-desc {
        padding: 4rem 3rem;
    }

    .exp .exp-odd .exp-img {
        order: 1;
    }

    .exp .exp-odd .exp-desc {
        order: 2;
    }

    .tabs-wrap #content-2 .con-bottom .design-item {
        flex-basis: 100%;
    }

    /*서브 3*/
    .sub-main-about {
        padding: 0 20px;
    }

    .sub-main-about h2 br {
        display: none;
    }

    .about-wrap {
        padding: 0 20px;
        margin: 0 auto 80px auto;
    }

    .about-wrap>div {
        width: 100%;
    }

    .about-wrap>div.about-desc {
        padding: 5% 0;
    }

    .about-wrap .link-wrap {
        text-align: center;
    }
    .resume-wrap { 
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        column-gap: 0;
        margin: 6.5rem auto 8rem auto;
    }
}

/*320px -767px 미디어쿼리*/
@media screen and (min-width:320px) and (max-width:600px) {

    /*메인*/

    .main .main-img {
        max-width: 340px;
    }
    .main .half:before {
        top: 88%;
        font-size: 1.75rem;
    }

    /*서브 1*/
    .sub-main {
        background-image: none;
        position: relative;
    }

    .sub-main::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-image: url("https://randhk.github.io/annie/img/annie_sec_red.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: -50% center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

    }

    /*서브 2*/
    .sub-main-2 {
        background-image: none;
    }

    .sub-main-2::after {
        background-image: url("https://randhk.github.io/annie/img/annie_sec_ad.png");
        font-size: 2rem;
    }

    .tabs-wrap ul.tabs-top li a::after {
        border-top: 3.8vw solid #DEDEDE;
        border-right: 3.5vw solid transparent;
        border-left: 3.5vw solid transparent;
    }

    .tabs-wrap ul.tabs-top li.first a::after {
        bottom: 0%;
    }

    .tabs-wrap ul.tabs-top li.second a::after {
        bottom: 0;
    }

    .tabs-wrap ul.tabs-top li.active a::after {
        border-top: 3.8vw solid #79C8A4;
    }

}