@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/*ALL*/
body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

body>* {
    color: #233741;
}

a:focus,
a:link,
a:visited,
a:active {
    color: #233741;
    text-decoration: none;
}

a.link {
    border-radius: 3px;
    border: 1px solid #233741;
    display: inline-block;
    padding: 9.5px 0;
    width: 100px;
    font-size: 1.3rem;
    text-align: center;
}

a.link:hover {
    background-color: #233741;
    color: #fff;
}

.font-pink {
    color: #F3C4BB;
}

.font-green {
    color: #79C8A4;
}

.font-black {
    color: #233741;
}

.font-gray {
    color: #dedede;
}

.ta-c {
    text-align: center;
}

header .header-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

header .logo img {
    width: 150px;
}

header nav.menu {
    float: right;
    padding: 15px 0 0 0;
}

header nav.menu a {
    font-size: 14px;
    margin-left: 20px;
    position: relative;
}
header nav.menu a:hover {
	color:#79C8A4;
}

header nav.menu a:hover::after {
    content: '';
    position: absolute;
   	background-color:#79C8A4;
    top: -12px;
    left: 45%;
    width: 6px;
    height:6px;
    border-radius: 100%;
    display: inline-block;

}

.head-sub {
    border-bottom: 1px solid #FDF3F1;
}

.hireme {
    text-align: center;
    margin: 8rem 0;
    display: inline-block;
    width: 100%;
}

.hireme .chara {
    background-image: url("https://randhk.github.io/annie/img/annie_aside_img.svg");
    background-repeat: no-repeat;
    background-position: 0 -39px;
    display: inline-block;
    width: 90px;
    height: 106px;
}

.hireme .words {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: bold;
    margin: 40px 0;
}

.hireme .contact {
    display: flex;
    justify-content: center;
}

.hireme .contact a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.hireme .contact li {
    margin-right: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("https://randhk.github.io/annie/img/annie_aside_img.svg");
}

.hireme .contact li.phone {
    background-position: 0 -185px;
}

.hireme .contact li.mail {
    background-position: 0 -145px;
}

.hireme .contact li:last-child {
    margin-right: 0;
}

.page-nav-wrap {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.page-nav-wrap .page-nav-area a {
    width: 100%;
    position: relative;
}

.page-nav-wrap .page-nav-area {
    flex-basis: 50%;
    background-image: url("https://randhk.github.io/annie/img/sub1_footerNav_bg.svg");
    background-repeat: no-repeat;
    height: 20vh;
    background-size: 27%;
    transition: all .3s;
}

.page-nav-wrap .page-nav-left {
    background-position: left 30px;
}

.page-nav-wrap .page-nav-left:hover {
    background-image: url("https://randhk.github.io/annie/img/sub1_footerNav_bg_hover.svg");
    background-position: left 30px;
}

.page-nav-wrap .page-nav-right {
    background-position: right 30px;
}

.page-nav-wrap .page-nav-right:hover {
    background-image: url(https://randhk.github.io/annie/img/sub1_footerNav_bg_hover.svg);
    background-position: right 30px;
}



.page-nav-wrap .page-nav-area .page-nav-text .text-top {
    color: rgb(121, 200, 164);
    font-size: 15px;
    margin: 0px 0px 3%;
    padding: 0px 20%;
}

.page-nav-wrap .page-nav-left .page-nav-text .text-top {
    text-align: right;
}

.page-nav-wrap .page-nav-area .page-nav-text .text-bottom {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    letter-spacing: 0.5px;
}

.page-nav-wrap .page-nav-right .page-nav-text .text-bottom {
    top: 100%;
    left: 20%;
}

.page-nav-wrap .page-nav-left .page-nav-text .text-bottom {
    top: 100%;
    right: 20%;
}

.page-nav-wrap .page-nav-area:hover .page-nav-text .text-bottom::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: rgb(121, 200, 164);
    transform: rotate(2deg);
    position: absolute;
    left: -5px;
    top: 57%;
    z-index: -1;
}

footer {
    background-color: #233741;
    padding: 3rem 20px 2rem 20px;
    display: inline-block;
    width: 100%;
}

footer .foot-inner {
    max-width: 1140px;
    margin: 0 auto;
    text-align: right;
}

footer .copyright {
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

footer .foot-inner .footer-logo img {
    width: 120px;
}

@media screen and (max-width:768px) {
    header .header-inner {
        padding: 2rem 1rem;
    }

    header .logo img {
        width: 100px;
    }

    header nav.menu {
        padding: 5px 0 0 0;
    }

    header nav.menu a {
    	margin-left: 10px;
        font-size: 1.3rem;
    }

    .hireme {
        margin: 0rem 0 8rem 0;
    }

    .hireme .words {
        font-size: 5.5vw;
        padding: 0 2rem;
        letter-spacing: 3px;
    }

    footer .foot-inner {
        text-align: center;
    }

    footer .foot-inner .footer-logo img {
        width: 100px;
    }

    /*하단네비*/
    .page-nav-wrap {
        flex-flow: wrap;
    }

    .page-nav-wrap .page-nav-area {
        flex-basis: 100%;
        background-image: none;
    }

    .page-nav-wrap .page-nav-area:hover {
        background-image: none;
    }

    .page-nav-wrap .page-nav-left .page-nav-text .text-top {
        text-align: left;
    }

    .page-nav-wrap .page-nav-left .page-nav-text .text-bottom {
        left: 20%;
        width: initial;
        display: inline-table;
    }

    .page-nav-wrap .page-nav-area .page-nav-text .text-bottom:after,
    .page-nav-wrap .page-nav-right .page-nav-text .text-bottom:after {
        display: none;
        content: '';
        width: 30px;
        height: 31px;
        background-image: url(https://randhk.github.io/annie/img/sub1_footerNav_bg_hover.svg);
        background-size: 25px;
        background-position: 92% 17%;
        background-repeat: no-repeat;
        position: absolute;
        top: -8px;
        right: -40px;
    }

    .page-nav-wrap .page-nav-right:hover .page-nav-text .text-bottom::after,
    .page-nav-wrap .page-nav-left:hover .page-nav-text .text-bottom::after {
        display: inline-block;
    }

}