@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/*ALL*/
body {
	font-family:'Roboto','Noto Sans KR',sans-serif;
}

body>* {
	color:#233741;
}

a:focus,a:link,a:visited {
	color:#233741;
}

a.link {
    border-radius: 3px;
    border: 1px solid #233741;
    display: inline-block;
    padding: 9.5px 0;
    width: 100px;
    font-size: 1.3rem;
    text-align: center;
}

a.link:hover {
    background-color: #233741;
    color: #fff;
}

.font-pink { color:#F3C4BB; }
.font-green { color:#79C8A4; }
.font-black { color:#233741; }
.font-gray { color:#dedede; }


header .header-inner{
	max-width:1140px;
	margin:0 auto;
	padding:20px;
}

header .logo img { 
	width: 190px;
}

header nav.menu {
	float:right;
	padding:20px 0 0 0;
}

header nav.menu a {
	font-size:14px;
	margin-left:15px;
}

.head-sub { 
	background-color: #FDF3F1;
 }

.hireme {
    text-align: center;
    margin:8rem 0;
    display: inline-block;
    width: 100%;
}

.hireme .chara {
	background-image: url("https://randhk.github.io/annie/img/annie_aside_img.svg");
	background-repeat: no-repeat;
	background-position: 0 -39px;
	display: inline-block;
	width:90px;
	height:106px;
}

.hireme .words {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: bold;
    margin:40px 0;
}

.hireme .contact {
    display: flex;
    justify-content: center;
}

.hireme .contact li {
	margin-right: 25px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("https://randhk.github.io/annie/img/annie_aside_img.svg");
}

.hireme .contact li.mail {
	background-position:0 -145px;
}

.hireme .contact li.insta {
	background-position:0 -185px;
}

.hireme .contact li:last-child {
	margin-right: 0;
}

footer {
    background-color: #233741;
    padding: 3rem 20px 2rem 20px;
    display: inline-block;
    width: 100%;
}

footer .foot-inner {
    max-width: 1140px;
    margin: 0 auto;
    text-align: right;
}

footer .copyright {
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

footer .foot-inner .footer-logo img {
	width:120px;
}



@media screen and (max-width:768px) {
	header {
		padding:2rem 1rem;
	}

	header .logo img { 
		width: 100px;
	}

	header nav.menu {
		padding: 5px 0 0 0;
	}	

	header nav.menu a {
	    font-size: 1.3rem;
	}	

	.hireme {
		margin:0rem 0 8rem 0;
	}

	.hireme .words {
		font-size: 5.5vw;
		padding : 0 2rem;
		letter-spacing: 3px;
	}

	footer .foot-inner {
	    text-align: center;
	}

	footer .foot-inner .footer-logo img {
		width:100px;
	}

}

